.blind{
    position:absolute;
    clip: rect(0,0,0,0);
    width:1px;
    height: 1px;
    margin:-1px;
    overflow: hidden;
}

.logo{
    width: 74px;
    height: 24.66px;
}

header{
    width: 100%;
    height: 72px;
}


.navigationBar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    margin: 0 150px;
}

.menuWrap{
    display: flex;
    font-weight: bold;
}

.menuWrap:hover li a{
    color:gray;
}

.menuWrap li:hover a{
    color:black;
}

.iconMenu{
    display: flex;
}

.menuItem{
    margin-right: 50px;
}

.iconItem{
    
    padding: 8px 8px;
     
    border-radius: 100px;
}


a{
    text-decoration: none;
    color: black;
}


.iconItem button{
    border:hidden;
    border-radius: 100px;
    background-color: #ffffff11;
    padding: 8px 8px;
}

i{
    font-size: 16px;
}

main{
    margin: 78px 150px 0 150px;
}

.iconItem button:hover
{
    background-color: #eee;
}

.day{
    width: 70px;
    vertical-align: top;
    margin-top: -15px;

}
.mainTitle{
    font-size: 36px;
    font-weight: bold;
}

.newsEntertain{
    margin-top: 80px;
    box-sizing: border-box;
    width: 625px;
    height: 662px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;
}

.newsEntertain:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 10px gray;
}

.news{
    width: 36px;
    vertical-align: top;
    margin-top: -3px;
}

.newsEntertainHeader{
    padding: 25px 24px 0;
    height: 165px;
    
}

.entertainTitle{
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 20px;
    width: 90%;
}
.newstag{
    font-size: 13px;
    color: gray;
    padding-bottom: 10px;
}

.newsHead{
    display: flex;
    justify-content: space-between;
    width: 580px;
}

.snsShare{
    color: gray;
}

h4 button{
    background:none;
    border:none;
    font-size: 16px;
}

h4 button:hover{
    /* 버튼넣었다는걸 임시로 표시 */
    background-color: gray;
}

.newsRelease{
    position:relative;
    padding: 10px 8px;
    font-size: 13px;
    margin-right: 430px;
    border-radius: 13px;
    background-color: #eeeeee;
}

.newsRelease::before{
    position: absolute;
    top: 0;
    left: -4px;
    width: 16px;
    height: 13px;
    background: url("./img/talk.svg");
    content: "";
}