.blind{
    position:absolute;
    clip: rect(0,0,0,0);
    width:1px;
    height: 1px;
    margin:-1px;
    overflow: hidden;
}

.logo{
    width: 74px;
    height: 24.66px;
}

header{
    width: 100%;
    height: 72px;
}


.navigationBar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    margin: 0 150px;
}

.menuWrap{
    display: flex;
}

.iconMenu{
    display: flex;
}

.menuItem{
    margin-right: 50px;
}

.iconItem{
    
    padding: 8px 8px;
     
    border-radius: 100px;
}


a{
    text-decoration: none;
    color: black;
}


.iconItem button{
    border:hidden;
    border-radius: 100px;
    background-color: #ffffff11;
    padding: 8px 8px;
}

i{
    font-size: 16px;
}

main{
    margin: 78px 150px 0 150px;
}

.iconItem button:hover
{
    background-color: #eee;
}

.day{
    width: 70px;
    vertical-align: top;
    margin-top: -15px;

}
.mainTitle{
    font-size: 36px;
    font-weight: bold;
}

.newsEntertain{
    margin-top: 80px;
    box-sizing: border-box;
    width: 625px;
    height: 640px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
    overflow: hidden;
}

.news{
    width: 36px;
    vertical-align: top;
    margin-top:-10px;
}

.newsEntertainHeader{
    padding: 25px 24px 0;
    height: 150px;
    
}

.entertainTitle{
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 15px;
    width: 90%;
}
.newstag{
    font-size: 13px;
    color: gray;
}